.gardenGridConatiner {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr 8fr;
  /* justify-content: space-between; */
  /* background: darkgoldenrod; */
}

.currentBedContainer {
  width: 100%;
  height: 200px;
  margin-top: 35px;
  background: cornflowerblue;
}
